#bottom {
    height: 75px;
    position: fixed;
    bottom: 0%;
    width:100%;
}

#play {
    width: 75px;
    height: 75px;
    background-color: grey;
    float:left;
}

#movieheader {
    color: white
}

#characters {
    position: fixed;
    top: 75px;
    left: 20px;
    z-index: 10;
    max-height: 30vh;
}

#characters .card-block{
    overflow-y: scroll;
}

.play i::before{
    margin-left:10px;
    bottom:5px;
    position: fixed;
} 