html, body { margin:0; padding:0; overflow:hidden }
.overviewSVG { position:fixed; top:0; left:0; height:100%; width:100% }
.timelineSVG { display: block; width:100% }
#timeline {
    height: 75px;
    position: fixed;
    bottom: 5%;
    width:100%;
    background-color: lightgrey;
    opacity: 1;
}
