html, body { margin:0; padding:0; overflow:hidden }
.overviewSVG { position:fixed; top:0; left:0; height:100%; width:100% }
.timelineSVG { display: block; width:100% }
#timeline {
    height: 75px;
    /* https://stackoverflow.com/questions/1032914/how-to-make-a-div-to-fill-a-remaining-horizontal-space/5955286#5955286 */
    margin-left: 76px;
    background-color: lightgrey;
    opacity: 1;
}
